services:
  app:
    build: .
    env_file: .env
    environment:
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - POSTGRES_URI=${POSTGRES_URI}
      - RABBITMQ_HTTP_URI=${RABBITMQ_HTTP_URI}
    ports:
      - "${APP_PORT}:${APP_PORT}"
    restart: unless-stopped
    command: ["/app/server"]
    depends_on:
      # postgres:
      #   condition: service_healthy
      rabbitmq:
        condition: service_healthy

  # postgres:
  #   image: postgres:16
  #   environment:
  #     POSTGRES_USER: queue
  #     POSTGRES_PASSWORD: queue
  #     POSTGRES_DB: queue_manager
  #   ports:
  #     - "5433:5432"
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
  #     interval: 5s
  #     timeout: 5s
  #     retries: 10
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.13-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 12

volumes:
  pgdata: {}


